<div class="heading">
<div class="row user-management-header m-0 p-0">
  <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <p>User Management</p>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <button type="button" class="btn btn-ziggo btn-add-user float-right">Add User</button>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </div>
</div>
