<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Organization name</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Display name</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Address Line 1</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Address Line 2</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">City</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Country</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Postal Code</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Contact name</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Email Address</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label class="required">Contact Number</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>