<div class="home">
  <div class="menu-bar">
    <div class="navbar-toggleable-xs menu-bar-gradient" [ngbCollapse]="isCollapsed">
      <ul class="nav navbar-nav menu-bar-icon">
        <li>
          <div class="close-icon" (click)="isCollapsed = !isCollapsed">
            <span class="menu-item">
              <i class="fa fa-times"></i>
            </span>
          </div>
          <div class="add-user-icon">
            <span class="menu-item">
              <i class="fa fa-user-plus"></i>
            </span>
          </div>
          <div class="idm-user-icon">
            <span class="menu-item">
              <i class="fa fa-user-o"></i>
            </span>
          </div>
          <div class="info-icon">
            <span class="menu-item">
              <i class="fa fa-info"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="full-page">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" (click)="isCollapsed = !isCollapsed" [hidden]="!isCollapsed" style="padding-left:10px;">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <img src="assets/ziggo-logo.png">
        <p class="header-text">
          <b>IDENTITY MANAGEMENT</b> PORTAL</p>
        <div class="collapse navbar-collapse search-box" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" />
              <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </div>
            <i class="fa fa-user-circle-o fa-2x user-profile" aria-hidden="true"></i>
          </form>
        </div>
      </nav>
    </div>
    <div class="row"></div>
  </div>
</div>